@import "tailwindcss";


.global-bg{
    background-color: #14302C;
}



@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.video-swiper .swiper-button-next,
.video-swiper .swiper-button-prev {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s;
}

.video-swiper .swiper-button-next:hover,
.video-swiper .swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.8);
}

.video-swiper .swiper-button-next::after,
.video-swiper .swiper-button-prev::after {
  font-size: 20px;
}